/* -------------- variables -------------- */

:root{
    --themeColor: #39B5B1;
}

/* -------------- anchor config -------------- */

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightgray;
}

a:active {
    color: black;
}


/* -------------- main -------------- */

.main-fundo {
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-img {
    position: relative;
}

.main-content {
    align-items: center;
    top: 5%;
    position: absolute;
    text-align: center;
}

.titulo-cadastro {
    color: var(--themeColor);
    font-size: 30px;
    text-shadow: 0 5px 5px gray;
}

.main-form {
    margin-bottom: 25px;
}

.botao {
    width: 60%;
    border-radius: 20px;
    background-image: url(./HealthTrack-Web_Documentação/fundo.jpg);
    background-repeat: no-repeat;
}

.sociais-div {
    margin-bottom: 10px;
}

.sociais {
    height: auto;
    width: 10%;
}

.google {
    margin-right: 5%;
}

.facebook {
    margin-left: 5%;
}

/* -------------- mediaQuery's -------------- */

@media screen and (min-width: 800px) {
    .main-content {
        top: 20%;
    }    

    .main-img {
        left: 75%;
        top: 35%;
        position: absolute;
    }

    .sociais {
        height: auto;
        width: 7%;
    }
}